body {
}
.main_cont {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.location {
  font-size: 72px;
  text-align: center;
  padding: 72px 0px 120px;
}
.map_asset {
  width: 100%;
  max-width: 1200px;
  height: 720px;
  border-radius: 6px;
  padding: 0px 48px 140px 48px;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  .location {
    font-size: 48px;
  }
  .map_asset {
    height: 480px;
  }
}
