.main_inner {
  font-family: "Noto Sans KR";
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.main_inner > h2 {
  font-size: 72px;
  margin: 72px auto;
  text-align: center;
}
.label {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;

  cursor: pointer;
}

#hiddenCheckbox {
  display: none;
}

#hiddenCheckbox:checked + #showCheckbox {
  background: url("https://blog.kakaocdn.net/dn/p2kpN/btrL4lwWrqf/KqNevAyZKWsoCB5ijL9qcK/img.png") no-repeat;
  background-size: contain;
}

#showCheckbox {
  width: 20px;
  height: 20px;

  background: url("https://blog.kakaocdn.net/dn/bjVlZ3/btrL5bHw92G/bg8CBmi4x6zklkecdJ1dpk/img.png") no-repeat;
  background-size: contain;
}
.img_box {
  position: relative;
  width: 144px;
  border-radius: 6px;
}
.img_box > span {
  position: absolute;
  top: 40%;
  left: 40%;
  color: #fff;
  font-size: 18px;
}
.categ {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}
.categ > li {
  display: flex;
  justify-content: space-between;
}
img {
  width: 100%;
  border-radius: 6px;
}
.cate2 {
  margin: 0 48px;
}
.sub_tab {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #dedede;
}
.sub_tab > ul {
  display: flex;
  width: 100%;
  justify-content: center;
}
.sub_tab > ul > li {
  padding: 24px;
}
.sub_tab > ul > li > a {
  font-size: 24px;
  color: #a6a6a6;
  padding-bottom: 16px;
}
.sub_tab > ul > li > a:hover {
  color: #000;
  border-bottom: 5px solid #000;
}
.programs {
  display: flex;
  flex-wrap: wrap;
}
.programs > li {
  width: 25%;
  padding: 20px 10px;
  box-sizing: border-box;
}
.stiker {
  background-color: #000;
  color: #fff;
  width: 50px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  border-radius: 13px;
  margin: 12px 0;
}
.prog_title {
  color: #212121;
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  margin-top: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.program > a > span {
  color: #4e4e4e;
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin-top: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.pager {
  width: 100%;
  max-width: 1200px;
  height: 103px;
  display: flex;
  justify-content: center;
}
.pager > span {
  display: flex;
  align-items: center;
}
.pager > span > a {
  padding: 40px 24px;
}
.pager > span > a:hover {
  color: cornflowerblue;
}
